* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}


header {
    display: flex;
    flex-direction: row;
    
}

.container-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    position: fixed;
    padding-top: 5px;
    z-index: 99;
}

.direction-row {
    display: flex;
    flex-direction: row;
}

.direction-column {
    display: flex;
    flex-direction: column;
}


.container-menu {
    display: flex;
   
}

.container-logo {
    display: flex;
}

.container-icon {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 10px;
    color: white;
    
}
li {
    display: flex;
    margin-left: 5px;
}


.logo {
    display: flex;
    height: 20px;
}

.icon {
    display: flex;
    color: white;
}

.background-orange {
    background-color: rgb(255, 106, 0);
}

.background-white {
    background-color: rgb(248, 248, 248);
}

.text-white {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
  
    
}


.container-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 100px 30px 100px;
    position: relative;
    
}

.container-card {
padding: 40px 50px 5px 50px ;
    display: flex;
    width: 500px;
    height: 550px;
   
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    justify-content: center;
}
.container-img {
    display: flex;
    width:100%;
    height: 85%;
    position: relative;
}

.container-info {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: rgb(248, 248, 248);
    
}

.img{
    display: block;
    width: 100%;
    height: 100%;
}

.img-hover {
    display: none;
    width: 100%;
    height: 100%;
}




.card {
    display: flex;
    height: 200px;
    width: 500px;
}

.info-card {
    display: flex;
    height: 100%;
    width: 100%;
}

.titolo-prod {
    display: flex;
}

.brand {
    display: flex;
}

.prezzo-promo {
    display: flex;
    color: red;
}

.prezzo-barrato {
    display: flex;
    margin-left: 5px;
    
}

.sconto {
    position: absolute;
    left: 0px;
    bottom:40px;
    background-color: red;
    color: white;
    width: 45px;
    height: 20px;
    font-size: 12px;
    text-align: center;

    
}

.sostenibilita {
    position: absolute;
    bottom: 0px;
    top: 73%;
    background-color: rgb(11, 166, 0);
    color: white;
    width: 100px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    left: 50px;
    
}





.icon-favorite {
position: absolute;
background-color: rgb(183, 0, 0);
border-radius: 50%;
height: 25px;
width: 25px;
color: rgb(242, 242, 242);
align-items: center;
text-align: center;
top: 10px;
left: 90%;
bottom: 0;
z-index: 98;
display: block;

}

.icon-favorite-hover {
position: absolute;
background-color: rgb(242, 242, 242);
border-radius: 50%;
height: 25px;
width: 25px;
color: rgb(114, 0, 0);
align-items: center;
text-align: center;
top: 10px;
left: 90%;
bottom: 0;
z-index: 98;
display: none;
}


.icon-favorite:hover  .icon-favorite {
    display: none;
}

.container-img:hover .icon-favorite-hover {
    display: block;
}







.container-favorite {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.container-img:hover .img {
display: none;
}

.container-img:hover .img-hover {
display: block;
}




.container-prezzo {
    display: flex;
}



footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 30px 40px 40px 120px;
    font-size: 15px;
}
